
* {
  
  -webkit-appearance: none;
}


/* nav bar */

.logo { 
  width:50px;
}

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search{
  height: 30px;
  padding-right: 50px;
  border-radius: 0px;
 
}

.btn-search{
  margin-left: -53px;
  height: 30px;
}

.option-item{
  margin:3px;
}

/* main video display */

.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.video-container{
  width: 60%;
}

.video-display{
  width: 100%;
}
.video{
  width: 100%;
}

.like-item{
  margin: 3px;
}

.share{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.views-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar{
  width: 80px;
}

/* Next video display */
.next-videos{
  width: 40%;
  margin-left: 20px;
}
.thumb-image{
  width: 50%;
  margin-right: 15px;
}

.thumbnail {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}
 .thumb-title{
   margin-top: 0;
   margin-bottom: 5px;
  }
  .thumb-detail{
    display: block;
  }
