
* {
  
  -webkit-appearance: none;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #EEEEEE;
  

}

/* nav bar */

.logo { 
  width:50px;
}

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search{
  height: 30px;
  padding-right: 50px;
  border-radius: 0px;
 
}

.btn-search{
  margin-left: -53px;
  height: 30px;
}

.option-item{
  margin:3px;
}

/* main video display */
.video-infos{
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.video-title{
  margin: 0 0 3px 0;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.video-container{
  width: 70%;
}

.video-display{
  width: 100%;
}
.video{
  width: 100%;
  margin-bottom: 10px;
}

.like-item{
  margin: 3px;
}

.share{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.views-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar{
  width: 80px;
}

/* Next video display */
.next-videos{
  width: 30%;
  margin-left: 20px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.thumb-image{
  width: 50%;
}
.thumb-info{
  margin-left: 15px;
}

.thumbnail {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-top: 10px;

}
.thumb-title{
  margin-top: 0;
  margin-bottom: 5px;
}
.thumb-detail{
  display: block;
}


.duration{
  position: absolute;
  right: 50%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: inline;
  margin: 0;
  padding: 3px;
  border-radius: 2px;
  font-size: 12px;
}